:root {
  --font-color: #ffffff;
}

@font-face {
  /* font-family: 'Shrikhand';
  src: url(fonts/Shrikhand-Regular.woff) format('woff');
  src: url(fonts/Shrikhand-Regular.woff2) format('woff2'); */
  font-family: 'Montez';
  src: url(fonts/Montez-Regular.woff) format('woff');
  src: url(fonts/Montez-Regular.woff) format('woff2');
}

body {
  color: var(--font-color);
  background: url('https://media.giphy.com/media/xT8qBfjJhOmNPTVWU0/giphy.gif');
  /* background-size: cover; */
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Montez';
}
/* 
https://media.giphy.com/media/xT8qBfjJhOmNPTVWU0/giphy.gif
https://media.giphy.com/media/FkpYiYNCDiALGwuIeL/giphy.gif
https://media.giphy.com/media/3o6Zt6OdU44cxFt89G/giphy.gif */
.container {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.imageContainer {
  margin-top: 10%;
}

img {
  height: 300px;
  width: 300px;
}

h1 {
  font-size: 45px;
  z-index: 10;
}

h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 4%;
}

h3 {
  font-size: 50px;
  margin: 0px 35px 0px 35px;
  text-align: center;
}

.textContainer {
  width: 250px;
  margin-top: 50;
  position: absolute;
  margin-top: 350px;
  font-size: 25px;
  z-index: -2;
}

.spin {
  transform: rotate(360deg) scale(4);
  transition: all 8s ease-in-out;
}

.flyingGrumpy img {
  height: 150px;
  width: 150px;
  margin-top: -300px;
  position: absolute;
  z-index: 2;
  margin-left: 30%;
}

.flying {
  transform: translateY(50vh);
  transition: all 7s ease-in-out;
}

.signContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.getSign {
  width: 50%;
  text-align: center;
}

.header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}
/* DESKTOP!! */
@media screen and (min-width: 720px) {
  .container {
    height: 80%;
  }

  .imageContainer {
    margin-top: 0;
  }

  img {
    height: 350px;
    width: 350px;
  }

  .textContainer {
    width: 260px;
    margin-top: 50;
    position: absolute;
    margin-top: -70px;
    margin-left: 350px;
  }

  .spin {
    transform: rotate(360deg) scale(7);
    transition: all 8s ease-in-out;
  }

  .flyingGrumpy img {
    height: 150px;
    width: 150px;
    margin-left: -150px;
    position: absolute;
    z-index: 3;
    margin-top: 14%;
  }

  .flying {
    transform: translateX(150%);
    transition: all 10s ease-in-out;
  }

  h1 {
    margin-top: 80px;
    font-size: 50px;
  }
  h2 {
    margin-top: 20%;
  }

  h3 {
    font-size: 50px;
    margin: -70px 35px 0px 35px;
    text-align: center;
  }
}
