:root {
  --font-color: #ffffff;
}

@font-face {
  font-family: 'Montez';
  src: url(fonts/Montez-Regular.woff) format('woff');
  src: url(fonts/Montez-Regular.woff) format('woff2');
}

body {
  color: var(--font-color);
  background: url('https://media.giphy.com/media/xT8qBfjJhOmNPTVWU0/giphy.gif');
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Montez';
}
/* 
https://media.giphy.com/media/xT8qBfjJhOmNPTVWU0/giphy.gif
https://media.giphy.com/media/FkpYiYNCDiALGwuIeL/giphy.gif
https://media.giphy.com/media/3o6Zt6OdU44cxFt89G/giphy.gif */

h1 {
  font-size: 45px;
  z-index: 10;
}

h2 {
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 4%;
}

h3 {
  font-size: 50px;
  margin: 0px 35px 0px 35px;
  text-align: center;
}

img {
  height: 300px;
  width: 300px;
}

.header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.framesContainer {
  margin-top: 10%;
}

.textContainer {
  width: 240px;
  position: absolute;
  margin-top: 330px;
  font-size: 25px;
  z-index: -2;
}

.spin {
  transform: rotate(360deg) scale(4);
  transition: all 8s ease-in-out;
}

.flyingGrumpy img {
  height: 150px;
  width: 150px;
  margin-top: -200px;
  position: absolute;
  z-index: 2;
  margin-left: 30%;
}

.flying {
  transform: translateY(50vh);
  transition: all 7s ease-in-out;
}

.signContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* DESKTOP!! */
@media screen and (min-width: 720px) {
  h1 {
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 90px;
  }

  h2 {
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20%;
  }

  h3 {
    font-size: 50px;
    margin: -70px 35px 0px 35px;
    text-align: center;
  }

  img {
    height: 350px;
    width: 350px;
  }

  .container {
    height: 80%;
  }

  .header {
    height: 120px;
  }

  .framesContainer {
    margin-top: 0;
  }

  .textContainer {
    width: 280px;
    margin-top: 65px;
    position: absolute;
    margin-top: -50px;
    margin-left: 350px;
  }

  .spin {
    transform: rotate(360deg) scale(7);
    transition: all 8s ease-in-out;
  }

  .flyingGrumpy img {
    height: 150px;
    width: 150px;
    margin-left: -150px;
    position: absolute;
    z-index: 3;
    margin-top: 14%;
    cursor: pointer;
  }

  .flying {
    transform: translateX(150%);
    transition: all 10s ease-in-out;
  }
}
